:root {
    --accent-text: rgb(241, 105, 105);
    --dimmed-text: rgb(200, 200, 200);
    --secondary-bg: rgb(15, 15, 15, 0.5);
}

* {
    padding: 0px;
    margin: 0px;
    outline: 0;
    border: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("https://images6.alphacoders.com/740/thumb-1920-740915.jpg");
        background-position: center;
        z-index: -2;
    }

    &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
        z-index: -1;
    }
}

nav {
    padding: 20px;
    background-color: var(--secondary-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 20px 30%;

    a {
        color: #fff;
        text-decoration: none;
    }
}

header, section {
    padding: 100px 30%;

    h1, span {
        color: #fff;
    }

    h1 {
        margin-bottom: 40px;
    }
}

header {
    padding: 100px 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 45px;
    }

    .aka {
        color: #aaa;
        font-size: 14px;
        font-weight: 400;
    }

    .accent {
        color: var(--accent-text);
    }
}

.go-down {
    aspect-ratio: 1/1;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    bottom: 0px;
    right: 30%;
    background-color: transparent;
    color: #000;

    &::before {
        content: "About me";
        position: absolute;
        text-wrap: nowrap;
        background-color: #ddd;
        right: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 0px;
        width: 0px;
        transition: 0.5s;
        overflow: hidden;
        border-radius: 100px 0 0 100px;
        z-index: -100;
        font-size: 14px;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background-color: white;
        z-index: -1;
    }

    &:hover {
        transform: translateY(8px);

        &::before {
            width: 100px;
            padding-left: 15px;
            border-radius: 0;
        }
    }

    svg {
        width: 20px;
        height: 20px;
    }
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
        color: var(--accent-text)
    }

    .box {
        background-color: var(--secondary-bg);
        padding: 20px;
        margin-bottom: 10px;
    }
}

.formations {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;

    .formation {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        background-color: var(--secondary-bg);

        h3 {
            color: var(--accent-text);
        }

        .dates {
            color: var(--dimmed-text);
            font-size: 14px;
        }

        .infos {
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }
}

.skills {
    display: flex;
    gap: 10px;

    .skill-category {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        height: fit-content;
        position: relative;
        padding: 20px;
        background-color: var(--secondary-bg);
        
        h3 {
            color: var(--accent-text);
            width: 100%;
            text-align: center;
            margin-bottom: 5px;
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .project {
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: var(--secondary-bg);
        padding: 10px 20px;

        h3 {
            color: var(--accent-text);
        }

        .links {
            margin-left: auto;
            display: flex;
            gap: 10px;
            margin-top: 10px;

            a {
                svg {
                    fill: #fff;
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }
}

#news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .news {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        width: 45%;
        background-color: var(--secondary-bg);
        
        span {
            display: flex;
            gap: 10px;
            padding: 10px;
            
            img {
                width: 32px;
                height: 32px;
            }
        }
    }
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 20px;

    .contact {
        display: flex;
        align-items: center;
        gap: 5px;

        svg {
            fill: #fff;
            width: 18px;
            height: 18px;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--secondary-bg);
    margin: 20px 30%;

    span {
        color: #fff;
    }
}